{% load i18n staticfiles %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <title>Yadus</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/yadus.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Baloo|Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div id="info">
      Yadus, by <a href="https://tobast.fr/">tobast</a><br/>
      Yet another Django URL shortener<br/>
      <a href="https://github.com/tobast/yadus">View on GitHub</a> (GPLv3)
    </div>

    <a href="{% url 'index' %}">
      <h1>Yadus</h1>
    </a>

    {% block content %}
    {% endblock %}
  </body>
</html>
