{% extends 'shortener/base.html' %}
{% load i18n %}

{% block content %}
<h2>{% trans "Shorten a URL" %}</h2>

{% if error_text %}
<div id="error-banner">
  {% trans "Error: " %}{% blocktrans %} {{error_text}} {% endblocktrans %}
</div>
{% endif %}

<form id="shorten-form" method="POST" action="{% url 'submit' %}">
  <div class="form-group" id="group-url">
    <label for="input-url">{% trans "URL to shorten" %}</label>
    <input type="url"
           name="url"
           id="input-url"
           placeholder="{% trans "URL to shorten" %}"
           {% if created_url %}
           value="{{ created_url }}"
           {% endif %}
           onfocus="this.select();"
           required autofocus>
  </div>
  <div class="form-group" id="group-slug">
    <label for="input-slug">{% trans "Custom shortened text" %}</label>
    <input type="text"
           name="slug"
           id="input-slug"
           placeholder="{%trans "Custom shortened text (opt.)" %}">
  </div>
  <input type="hidden" name="human" value="">
  <input type="hidden" name="timestamp" id="timestamp_field" value="">
  {% if ALLOW_NEW_SHORTENED %}
  <input type="submit"
         class="button"
         value="{% trans "Shorten me!" %}"
         id="input-submit">
  {% else %}
  <input type="button"
         class="button"
         disabled=""
         value="{% trans "Out of service…" %}"
         id="input-submit">
  {% endif %}
</form>

{% if not ALLOW_NEW_SHORTENED %}
<div class="outofservice">
  <h2>Sorry! This service is not available for now…</h2>
  <p>Due to a wave of spammers, this service has been closed for now. Old links will
  continue to work, but new links are not accepted. I will (probably) work soon(ish) on
  making the service available again.</p>

  <p>If you were actually using the service for
  non-spam purposes and are sad about the situation, please contact me! (If you're not
  a spammer, you should be able to find a way pretty quickly.)
  </p>
</div>
{% endif %}


<script>
  var domReady = function(callback) {
    document.readyState === "interactive" || document.readyState === "complete" ?
    callback() : document.addEventListener("DOMContentLoaded", callback);
  };
  domReady(function () {
    document.querySelector('#timestamp_field')
      .setAttribute('value', Math.floor(Date.now() / 1000));
  });
</script>
{% endblock %}
