body {
    font-family:'Open Sans', Arial;
    background-color: #2a2a2a;
    color:#f4f4f4;
    font-size:16px;
    margin:2em auto;
    max-width:800px;
    height: 100%;
    padding:1em;
    line-height:1.4;
}

h1 {
    margin-left: 0;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 50pt;
    color: #b12533;
    font-family: 'Baloo', cursive;
}

a {
    color: #f48688;
    text-decoration: none;
}

h2 {
    margin-left: 50px;
    margin-bottom: 0.2em;
    margin-top: 10px;
}

#shorten-form {
    border: 2px solid #b12533;
    border-radius: 20px;
    padding: 25px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 20px;
    color: black;
    background-color: white;
}

label {
    font-weight: bold;
}

.button {
    background-color: #e4a1a1;
    color: black;
    border: 3px solid #b12533;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.3em;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #ffb3b4;
}

#info {
    float: right;
    font-size: 0.7em;
    margin-top: 10px;
    padding: 10px;
    border-left: 1px solid #b12533;
}

#error-banner {
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 20px;
    background-color: #b12533;
    color: white;
    font-size: 1.2em;
}

.suspected_spam {
    background-color: #640d16;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid #b12533;
    padding: 10px 5px;
    border-radius: 7px;
}

.nospamemail {
    unicode-bidi: bidi-override;
    direction: rtl;
}

.emph_color {
    color: #ffb3b4;
}
